<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cadastro/style.css' %}">
    <title>{% block titulo %}Meu Site{% endblock %}</title>
</head>
<body>
 <h1>Cadastro</h1>
    <nav>
        <a href="{%  url 'index' %}">Início</a> |
        <a href=" {% url 'adicionar' %}">Nova Pessoa</a> |
        <a href="{% url 'contato' %}">Contato</a> |
           {% if user.is_authenticated %}
         Olá, {{ user.username }}! |
        <form method="POST" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Sair</button>
        </form>
    {% else %}
    <a href="{% url 'login' %}">Entrar</a>
    {% endif %}
    </nav>

    <hr>

    <main>

        {{ teste | striptags }}

        {% block conteudo %}{% endblock %}
    </main>

    <hr>
 <footer>
   <p>&copy; 2026 {{ nome | default:"Visitante" }}</p>
</footer>

</body>
</html>